# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#ignore lex outputs in the ParserTest directory
src/test/ParserTest/*.outlexerrors
src/test/ParserTest/*.outlextokens

#ignore lex outputs and parser output in the SymbolTableTest directory
src/test/SymbolTableTest/*.outlexerrors
src/test/SymbolTableTest/*.outlextokens
src/test/SymbolTableTest/*.outderivation
src/test/SymbolTableTest/*.outsyntaxerrors

src/test/CodeGenTest/*.outderivation
src/test/CodeGenTest/*.outlexerrors
src/test/CodeGenTest/*.outlextokens
src/test/CodeGenTest/*.outsemanticerrors
src/test/CodeGenTest/*.outsymboltables
src/test/CodeGenTest/*.outsyntaxerrors